
.fonts{
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Paytone One', sans-serif;
}

div{
	display: block;
}

.head{
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 200px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.head hr{
	width: 70%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.head h1{
	font-family: 'Paytone One', sans-serif;
	font-size: 50px;
}

p{
	font-family: 'Julius Sans One', sans-serif;
}

ul li{
	font-family: 'Juluis Sans One', sans-serif;
}

h1, h2{
	margin-bottom: 20px;
	font-family: 'Paytone One', sans-serif;
}

.inner-content h3{
	margin-top: 10px !important;
	font-family: 'Paytone One', sans-serif;
}

.foot{
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 200px;
	text-align: center;
	padding: 30px 0px;
}

.content{
	position: relative;
	display: block;
	background-color: #3498db;
	height: 500px;
	overflow: auto;
}

.header{
	padding: 10px 20px;
	text-align: center;
	color: #ecf0f1;
	font-size: 48px;
}

.inner-content{
	padding-top: 20px;
	text-align: center;
	background-color: #34495e;
	height: 270px;
	color: #ecf0f1;
	overflow: auto;
}

.mybtn{
	border-radius: 0px;
	cursor: pointer;
	width: 100%;
	text-align: center;
	padding: 10px 10px;
	border: 1px solid transparent;
}

.btn{
	border-radius: 0px !important;
}


.instructions{
	display: block;
	margin-top: 10px;
	width: 100%;
	background-color: #28BC51;
	text-align: left;
	padding: 20px 40px;
	opacity: 0.9;
}

.instructions p{
	margin-bottom: 0px;
}

.orangeShade{
	background-color: #C68725;
	color: white;
}

.orangeShade:hover{
	background-color: white;
	color: #C68725;
}

.blueShade{
	background-color: #2D93AE;
	color: white;
}

.blueShade:hover{
	background-color: white;
	color: #2D93AE;
}

.redShade{
	background-color: #C22E2E;
	color: white;
}

.redShade:hover{
	background-color: white;
	color: #C22E2E;
}

.infoBlue{
	background-color: #5bc0de;
	color: white;
}

.infoBlue:hover{
	background-color: white;
	color: #5bc0de;
}

/*.inner-content{
	display: flex;
	flex-direction: row;
	height: 100%;
}

.innerbox-1{
	display: flex;
	flex-direction: column;
	width: 33%;
	background-color: #34495e;
	z-index: 99;
}

.innerbox-2{
	display: flex;
	flex-direction: column;
	width: 33%;
	background-color: #34495e;
}

.innerbox-3{
	display: flex;
	flex-direction: column;
	width: 33%;
	background-color: #34495e;
}*/
